@layer base {
    html, body, #app {
        @apply relative min-h-screen text-gray-900 overflow-x-hidden overflow-y-auto;
    }

    /** tooltip styles */
    :root {
        --popper-theme-background-color: #302F37;
        --popper-theme-background-color-hover: #302F37;
        --popper-theme-text-color: #ffffff;
        --popper-theme-border-width: 0px;
        --popper-theme-border-style: solid;
        --popper-theme-border-radius: 0;
        --popper-theme-padding: 2px 8px 6px 8px;
        --popper-theme-box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    }
    /** Define global styles here */
}
